$main-background: #171E31;
$side-bar-background: #12192C;
$green-color: #24BA70;
$gray-color: #8BA0DA;
$font-color: #FFFFFF;
$pink-color: #E75E9A;
$white-color: #FFFFFF;

$lg-breakpoint: 961px;
$md-breakpoint: 960px;
$xs-breakpoint: 608px;