@import "../assets/scss/app.scss";

*{
  text-decoration: none;
}

.side-bar__item{
  border-radius: 0px 5px 5px 0px;
  transition: .2s;
  color: $white-color;
  display: flex;
  align-items: center;
  padding: 0 25px;
  height: 35px;
  cursor: pointer;
  margin-bottom: 20px;
  .side-bar__item-icon{
    margin-right: 15px;
  }
  .side-bar__item-label{
    font-size: 14px;
  }
  &:hover{
    background: #e73c7e52;
  }
}

.side-bar__item-group{
  margin-top: 40px;
  .side-bar__group-heading{
    padding: 0 25px;
    color: $pink-color;
    margin-bottom: 15px;
  }
}

.side-bar__item_active{
  .side-bar__item{
    animation: gradient-animate forwards .5s cubic-bezier(0.4, 0, 1, 1);
    background: linear-gradient(90deg, rgba(231, 60, 126, 0.3215686275), rgba(35, 166, 213, 0.231372549), #2aac8569);
    transform: translate3d(0, 0, 0);
    background-size: 400% 400%;
  }
}

@keyframes gradient-animate {
	0% {
		background-position: 0% 50%;
	}
	100% {
		background-position: 100% 50%;
	}
}